@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}

body {  
    margin: 0;;
    background-color: rgba(250, 250, 250, 0.575);
}

/* header */

header {
    z-index: 1;
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 5px 0 rgb(233, 233, 233);
    position: sticky;
    top: 0px;
    z-index: 1;
}

#logo {
    padding-left: 75px;
    margin: 15px;
    height: 40px;
}

#logo:hover {
    cursor: pointer;
}

header ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    margin-left: auto;
    margin-right: 40px;
}

header ul li {
    padding-left: 20px;
}

header ion-icon {
    font-size: 25px;
    color: rgb(124, 124, 124);
    padding: 8px;
}

header ion-icon:hover {
    border-radius: 50px;
    background-color: rgb(240, 240, 240);
    cursor: pointer;
}

#user {
    width: 40px;
    border-radius: 50px;
}

#user {
    cursor: pointer;
}

.button {
    display: inline;
    border-radius: 20px;
    border: 2px solid rgb(121, 121, 121);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.button:hover {
    background-color: rgb(240, 240, 240);
    cursor: pointer;
}

/* Main */

#main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

article {
    height: 2050px;
    width: 1200px;
}

#main {
    height: 1950px;
    width: 1050px;
    margin-left: 90px;
    margin-top: 80px;
}

aside {
    border-left: 2px solid rgba(128, 128, 128, 0.322);
    width: 680px;
    height: 2050px;
}

#upper-box {
    border-bottom: 2px solid rgba(128, 128, 128, 0.322);
    margin-bottom: 10px;
    margin-left: 65px;
    height: 350px;
    width: 465px;
}

#lower-box {
    margin: 10px;
    height: 1500px;
    width: 665px;
}

.choice {
    display: flex;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 42px;
    border-bottom: 2px solid rgba(128, 128, 128, 0.322);
    padding-left: 0px;
    margin-bottom: 30px;
}

.choice li {
    margin-left: 1px;
    list-style: none;
    font-size: 18px;
    font-weight: bolder;
    color: rgb(128, 128, 128);
    position: absolute;
}

.choice li:last-child {
    margin-left: 150px;
}

.choice li:hover {
    cursor: pointer;
    border-bottom: 2px solid rgba(0, 0, 0, 0.384);
    padding-bottom: 20px;
    color: black;
    z-index: 0;
}

#feeds {
    height: 800px;
    width: 1045px;
}

.feed {
    padding-bottom: 70px;
}

.feed .users {
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
}

.feed .users span {
    color: rgb(128, 128, 128);
}

.feed .users-pic {
    height: 30px;
    width: 30px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 10px;
}

.feed .users-pic:hover {
    cursor: pointer;
}

.feed .users h4:hover {
    cursor: pointer;
}

.feed .users span:hover {
    cursor: auto;
}

.feed h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    margin-top: -5px;
}

.feed p {
    font-family: 'Roboto', sans-serif;
    color: grey;
    font-size: 20px;
}

.feed ul {
    display: flex;
    list-style: none;
    margin-left: -55px;
    margin-top: -5px;
}

.feed ul li {
    font-family: 'Roboto', sans-serif;
    color: grey;
    margin-left: 10px;
    padding: 5px;
}

.feed ul li:hover {
    background-color: rgb(233, 233, 233);
    border-radius: 15px;
    cursor: pointer;
}

.feed ul span {
    margin-left: 10px;
    margin-top: 5px;
}

.feed .foot {
    display: flex;
    align-items: center;
}

.feed .icons {
    position: absolute;
    margin-left: 600px;
}

.icons ion-icon {
    font-size: 30px;
    margin-left: 10px;
    margin-top: -5px;
    padding: 5px;
}

.icons ion-icon:hover {
    background-color: rgb(233, 233, 233);
    border-radius: 50px;
    cursor: pointer;
}

.thumbnail {
    width: 300px;
    height:200px;
    float: right;
    margin-top: 30px;
    margin-right: -5px;
    object-fit: cover;
}

.box-container {
    margin: 50px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.box-container p {
    margin: 25px;
    font-size: 18px;
}

.box-container img {
    width: 120px;
}

.twitter {
    border: 2px solid rgb(194, 194, 194);
    border-radius: 25px;
    padding-right: 45px;
    display: flex;
    align-items: center;
}

.twitter ion-icon {
    padding: 10px;
    margin-left: 15px;
    font-size: 30px;
    color: rgb(85, 153, 255);
}

.twitter:hover {
    cursor: pointer;
}

.twitter:active {
    background-color: rgba(236, 236, 236, 0.575);;
}

.box-container a {
    margin-top: 40px;
    color: rgb(141, 141, 141);
    font-size: 18px;
}

#topics {
    font-family: 'Roboto', sans-serif;
    width: 420px;
    height: 300px;
    margin: 50px;
}

#topics p{
    font-size: 20px;
    margin: 5px;
    font-weight: bold;
}

#topics-container {
    width: 310px;
}

#topics-container ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-left: -60px;
}

#topics-container ul li {
    font-family: 'Roboto', sans-serif;
    margin-left: 20px;
    font-size: 16px;
    margin-top: 10px;
    background-color: rgb(235, 235, 235);
    padding: 10px;
    border-radius: 25px;
}

#topics-container ul li:hover {
    background-color: rgb(218, 218, 218);
    cursor: pointer;
}

#follow {
    margin-left: 50px;
    margin-top: -20px;
}

#follow p {
    font-size: 20px;
    margin: 5px;
    font-weight: bold;
}

.follow-template img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    float: left;
    border-radius: 50px;
    margin-right: 10px;
}

.follow-template {
    margin-bottom: 35px;
}

.follow-template p {
    margin-top: -10px!important;
    font-size: 15px!important;
    font-weight: 500!important;
    color: rgb(179, 179, 179);
}

.follow-button {
    float: right;
    margin-top: -45px;
    margin-right: 35px;
    border: 2px solid rgb(145, 145, 145);
    border-radius: 20px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
}

.follow-button:hover {
    cursor: pointer;
    background-color: rgb(235, 235, 235);
}

#saved {
    margin-top: 150px;
}

#saved p {
    margin: -2px;
}

.saved-template div img {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    margin-right: 10px;
    object-fit: cover;
}

.saved-template span {
    color: grey;
}

.saved-template div {
    display: flex;
    align-items: center;
}

.saved-template h2 {
    margin-top: -5px;
    font-size: 22px;
}

.saved-template ul {
    display: flex;
    list-style: none;
    margin-left: -55px;
    color: grey;
}

.saved-template ul li {
    margin-left: 10px;
    padding: 5px;
}

.saved-template ul li:hover {
    cursor: pointer;
    background-color: rgb(228, 228, 228);
    border-radius: 20px;
}

.saved-template ul span {
    margin-left: 5px;
    padding: 5px;
}

#saved a {
    text-decoration: none;
    color: green;
    font-weight: bold;
}

#saved a:hover {
    text-decoration: underline;
}

footer {
    margin: 10px;
    margin-top: 150px;
    width: 420px;
    height: 100px;
}

footer ul {
    display: flex;
    flex-wrap: wrap;
    margin-left: -40px;
    list-style: none;
}

footer ul li {
    margin-left: 30px;
    margin-top: 15px;
    padding: 5px;
    color: gray;
}

footer ul li:hover {
    background-color: rgb(231, 231, 231);
    border-radius: 20px;
    cursor: pointer;
}